body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h1 {
    color: aliceblue;
}
button {
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: blue;
}
#text {
    font-size: 10px;
    margin-bottom: 20px;
}